[buildout]
show-picked-versions = true
parts =
    code-analysis

[code-analysis]
recipe = plone.recipe.codeanalysis
multiprocessing = True
directory = ${buildout:directory}
pre-commit-hook = True
check-manifest = True
clean-lines-exclude =
    bootstrap-buildout.py
    docs
    *.egg.
    bin
    lib
    lib64
    parts
    include
    develop-eggs
clean-lines = True
flake8-exclude = bootstrap-buildout.py,docs,*.egg.,bin/,lib/,lib64/,parts/,include/,develop-eggs/
flake8-extensions =
    flake8-blind-except
    flake8-builtins
    flake8-coding
    flake8-debugger
    flake8-deprecated
    flake8-isort
    flake8-pep3101
    flake8-print
    flake8-quotes
    flake8-string-format
    flake8-todo

[versions]
flake8 = 2.5.4
flake8-blind-except = 0.1.0
flake8-builtins = 0.1
flake8-coding = 1.1.1
flake8-debugger = 1.4.0
flake8-deprecated = 1.0
flake8-isort = 1.2
flake8-pep3101 = 0.3
flake8-print = 2.0.2
flake8-quotes = 0.2.4
flake8-string-format = 0.2.1
flake8-todo = 0.4
mccabe = 0.4.0
plone.recipe.codeanalysis = 2.2
pyflakes = 1.0.0
zc.buildout = 2.5.0
zc.recipe.egg = 2.0.3

# Required by:
# plone.recipe.codeanalysis==2.2
check-manifest = 0.31

# Required by:
# flake8-isort==1.2
isort = 4.2.2

# Required by:
# flake8-quotes==0.2.4
pep8 = 1.7.0

# Required by:
# flake8-isort==1.2
testfixtures = 4.9.1
