coveralls
flake8-blind-except
flake8-coding
flake8-commas
flake8-debugger
flake8-deprecated
flake8-isort
flake8-pep3101
flake8-polyfill
flake8-print
flake8-quotes
flake8-string-format
flake8-todo
futures; python_version < '3.0'
hypothesis; python_version >= '3.6'
hypothesmith; python_version >= '3.6'
mock ; python_version < '3.0'
pytest<5; python_version < '3.0'
pytest>5; python_version >= '3.0'
pytest-cov
more-itertools==5.0.0
zipp ; python_version >= '3.0'
